# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
dat/*.txt
dat/*.csv
*.csv
dat/old/*.txt
dat/old/*.csv
dat/output/*.txt
dat/output/*.csv
dat/output/old/*
dat/output/*.zip
tables/*